'scopeName': 'source.smart-basic'
'name': 'smartBASIC'

'fileTypes': [
    'sb'
]

'patterns': [{
        #preprocessor
        'match': '#(?:include|define)\\b'
        'name': 'keyword.control.smart-basic'
    },
    {
        # strings
        'begin': '"'
        'end': '"'
        'name': 'string.quoted.double.smart-basic'

        'patterns': [{
                'match': '\\\\(?:\\\\|n|r)'
                'name': 'constant.character.escape.smart-basic'
            }]
    },
    {
        # comments
        'match': '//.*'
        'name': 'comment.line.smart-basic'
    },
    {
        # numeric constants
        

    }
]
