'scopeName': 'source.smart-basic'
'name': 'smartBASIC'

'fileTypes': [
    'sb'
]

'patterns': [{
        #preprocessor
        'match': '#(?:include|define)\\b'
        'name': 'keyword.other.smart-basic'
    },
    {
        # strings
        'begin': '"'
        'end': '"'
        'name': 'string.quoted.double.smart-basic'

        'patterns': [{
                'match': '\\\\(?:\\\\|n|r|t)'
                'name': 'constant.character.escape.smart-basic'
            }]
    },
    {
        # comments
        'match': '//.*'
        'name': 'comment.line.smart-basic'
    },
    {
        # numeric constants
        'name': 'constant.numeric.smart-basic'
        'match': '\\b(0[xX][\\dA-Fa-f]+|\\d+(\\.(\\d+)?)?|\\.\\d+)'
    },
    {
        # keywords (control)
        'name': 'keyword.control.smart-basic'
        'match': '(?i)\\b(?:as|bp|break|byref|byval|call|case|continue|dim|disable|do|dowhile|downto|else|elseif|endfunc|endif|endselect|endsub|endwhile|exitfunc|exitsub|for|function|if|next|onerror|onevent|onfatalerror|print|redo|select|sprint|step|stop|sub|then|throwevent|to|until|waitevent|while)\\b'
    },
    {
        # keywords (other)
        'name': 'keyword.other.smart-basic'
        'match': '(?xi)\\b(?:STRLEN
                |GETLASTERROR
                |LEFT$
                |RIGHT$
                |MID$
                |STRPOS
                |MIN
                |MAX
                |ABS
                |STRCMP
                |STRVALDEC
                |STRESCAPE$
                |STRESCAPEEX$
                |STRGETCHR
                |STRSETCHR
                |STRSETBLOCK
                |TABLEINIT
                |TABLEADD
                |TABLELOOKUP
                |NVRECORDGET
                |NVRECORDGETEX
                |NVRECORDSET
                |STRFILL
                |SYSINFO
                |EXITCODE
                |STRHEX2BIN
                |STRSUM
                |STRXOR
                |STRHEXIZE$
                |STRDEHEXIZE$
                |STRSPLITLEFT$
                |CIRCBUFCREATE
                |CIRCBUFWRITE
                |CIRCBUFOVERWRITE
                |CIRCBUFREAD
                |CIRCBUFITEMS
                |SYSINFO$
                |EXTRACTSTRTOKEN
                |EXTRACTINTTOKEN
                |TIMERRUNNING
                |UARTOPEN
                |UARTINFO
                |UARTWRITE
                |UARTREAD
                |UARTREADN
                |UARTREADMATCH
                |UARTGETCTS
                |UARTCLOSEEX
                |FOPEN
                |FSEEK
                |FTELL
                |FILELEN
                |FREAD
                |FREADUNTIL
                |BLEGETDEVICENAME$
                |BLEGAPSVCINIT
                |BLEADVRPTINIT
                |BLESCANRPTINIT
                |BLESETCURCONNPARMS
                |BLEGETCURCONNPARMS
                |BLEATTRMETADATA
                |BLECHARNEW
                |BLECHARDESCUSERDESC
                |BLECHARDESCPRSTNFRMT
                |BLECHARDESCADD
                |BLECHARCOMMIT
                |BLESERVICENEW
                |BLESERVICECOMMIT
                |BLESVCADDINCLUDESVC
                |BLECHARVALUEWRITE
                |BLECHARVALUENOTIFY
                |BLECHARVALUEINDICATE
                |BLEADVRPTADDUUID128
                |BLEGETADBYINDEX
                |BLEGETADBYTAG
                |BLEVSPOPEN
                |BLEVSPINFO
                |BLEVSPWRITE
                |BLEVSPREAD
                |BLEGATTCOPEN
                |BLEDISCSERVICEFIRST
                |BLEDISCSERVICENEXT
                |BLEDISCCHARFIRST
                |BLEDISCCHARNEXT
                |BLEDISCDESCFIRST
                |BLEDISCDESCNEXT
                |BLEGATTCFINDCHAR
                |BLEGATTCFINDDESC
                |BLEGATTCREAD
                |BLEGATTCREADDATA
                |BLEGATTCWRITE
                |BLEGATTCWRITECMD
                |BLEGATTCNOTIFYREAD
                |BLECONNECTCONFIG
                |BLECONNECT
                |BLECONNECTCANCEL
                |BLESCANCONFIG
                |BLESCANSTART
                |BLESCANABORT
                |BLESCANSTOP
                |BLESCANGETADVREPORT
                |BLESCANGETPAGERADDR
                |BLEWHITELISTCREATE
                |BLEWHITELISTADDADDR
                |BLEWHITELISTADDIRK
                |I2COPEN
                |I2COPENEX
                |I2CWRITEREAD
                |I2CWRITEREG8
                |I2CWRITEREG16
                |I2CWRITEREG32
                |I2CREADREG8
                |I2CREADREG16
                |I2CREADREG32
                |SPIOPEN
                |SPIREADWRITE
                |SPIWRITE
                |SPIREAD
                |AESSETKEYIV
                |AESENCRYPT
                |AESDECRYPT
                |GPIOCONFIGPWM
                |BLEADVRPTADDUUID16
                |BLEADVRPTSCOMMIT
                |BLESVCREGDEVINFO
                |BLECONNMNGRUPDCFG
                |BLESECMNGRKEYSIZES
                |BLESECMNGRIOCAP
                |BLESECMNGRBONDREQ
                |BLEADVRPTAPPENDAD
                |SETPWRSUPPLYTHRESHMV
                |BLEADVERTSTART
                |BLEADVERTSTOP
                |SYSTEMSTATESET
                |GPIOSETFUNC
                |GPIOREAD
                |GPIOBINDEVENT
                |GPIOUNBINDEVENT
                |GPIOASSIGNEVENT
                |GPIOUNASSIGNEVENT
                |BLEAUTHENTICATE
                |BLETXPOWERSET
                |BLETXPWRWHILEPAIRING
                |READPWRSUPPLYMV
                |BLESECMNGRPASSKEY
                |BLEDISCONNECT
                |BLEBONDMNGRGETINFO
                |BLEADVRPTGETSPACE
                |BLESVCCOMMIT
                |ERASEFILESYSTEM
                |BLESVCREGBATTERY
                |BLESVCREGHEARTRATE
                |BLESVCSETBATTLEVEL
                |BLESVCSETHEARTRATE
                |BLESVCREGTHERM
                |BLESVCSETTHERM
                |BLESVCREGTXPOWER
                |BLESVCREGIMMALERT
                |BLESVCGETIMMALERT
                |BLESVCREGLINKLOSS
                |BLESVCGETLLOSSALERT
                |BLESVCREGBLOODPRESS
                |BLESVCSETBLOODPRESS
                |BLESVCADDHEARTRATERR
                |SENDMSGAPP
                |VERBOSEERR$
                |RAND
                |RANDEX
                |GETTICKCOUNT
                |GETTICKSINCE
                |NVCFGKEYGET
                |NVCFGKEYSET
                |BLECHARVALUEREAD
                |BLECHARDESCREAD
                |BLEENCODE8
                |BLEDECODES8
                |BLEDECODEU8
                |BLEENCODE16
                |BLEDECODES16
                |BLEDECODEU16
                |BLEENCODE24
                |BLEDECODES24
                |BLEDECODEU24
                |BLEENCODE32
                |BLEDECODE32
                |BLEENCODEFLOAT
                |BLEDECODEFLOAT
                |BLEENCODESFLOAT
                |BLEENCODESFLOATEX
                |BLEDECODESFLOAT
                |BLEENCODETIMESTAMP
                |BLEDECODETIMESTAMP
                |BLEENCODEBITS
                |BLEDECODEBITS
                |BLEENCODESTRING
                |BLEDECODESTRING
                |BLEHANDLEUUID16
                |BLEHANDLEUUID128
                |BLEHANDLEUUIDSIBLING)\\b'
}
]
