'scopeName': 'source.smart-basic'
'name': 'smartBASIC'

'fileTypes': [
    'sb'
]

'patterns': [{
        #preprocessor
        'match': '#(?:include|define)\\b'
        'name': 'keyword.other.smart-basic'
    },
    {
        # strings
        'begin': '"'
        'end': '"'
        'name': 'string.quoted.double.smart-basic'

        'patterns': [{
                'match': '\\\\(?:\\\\|n|r|t)'
                'name': 'constant.character.escape.smart-basic'
            }]
    },
    {
        # comments
        'match': '//.*'
        'name': 'comment.line.smart-basic'
    },
    {
        # numeric constants
        'name': 'constant.numeric.smart-basic'
        'match': '(0[xX][\\dA-Fa-f]+|\\d+(\\.(\\d+)?)?|\\.\\d+)'
    },
    {
        # keywords
        'name': 'keyword.control.smart-basic'
        'match': '(?i)\\b(?:as|bp|break|byref|byval|call|case|continue|dim|disable|do|dowhile|downto|else|elseif|endfunc|endif|endselect|endsub|endwhile|exitfunc|exitsub|for|function|if|next|onerror|onevent|onfatalerror|print|redo|select|sprint|step|stop|sub|then|throwevent|to|until|waitevent|while)\\b'
    }
]
